[Unit]
Description=Intelligent Input Bus
Documentation=man:ibus-daemon(1)

[Service]
Restart=always
ExecStart=ibus-daemon -rxR
ExecReload=ibus restart
ExecStop=ibus exit

[Install]
WantedBy=autostart.target
