[Unit]
Description=Waybar - Wayland status bar
Documentation=https://github.com/Alexays/Waybar/wiki
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
