# Vim swap files
*.swp

Downloads/
Documents/
Pictures/
Videos/
src/
.onedrive/
.var/
.vim/
.npm/
.local/
.dotfiles/
.cache/
.config/discord
.config/Insync
.config/Mailspring
.config/microsoft-edge
.config/onedrive
.config/OpenRGB/logs
.steam/
