@import "firefox-gnome-theme/userChrome.css";
@import 'fft-atbc-support.css';

/* Remove some elements from the bookmarks menu */
.openintabs-menuseparator,
.openintabs-menuitem,
.bookmarks-actions-menuseparator { 
    display: none !important; 
}

#BMB_bookmarksShowAllTop, #BMB_unsortedBookmarks, #BMB_viewBookmarksSidebar, #BMB_bookmarksShowAll, #BMB_bookmarksToolbar, html#main-window body box#navigator-toolbox-background toolbox#navigator-toolbox toolbar#nav-bar.browser-toolbar hbox#nav-bar-customization-target.customization-target toolbarbutton#bookmarks-menu-button.toolbarbutton-1.chromeclass-toolbar-additional.subviewbutton-nav menupopup#BMB_bookmarksPopup.cui-widget-panel.cui-widget-panelview.PanelUI-subView menuseparator {
    display: none;
}

/* Hide tab bar when only one */
tab[first-visible-tab=true][last-visible-tab=true],
tab[first-visible-tab=true][last-visible-tab=true] + #tabbrowser-arrowscrollbox-periphery{
  display:none!important;
}
#tabbrowser-tabs, #tabbrowser-arrowscrollbox {min-height: 0 !important;}
